// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html, body {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
  text-align: center;
}

#inputBox {
  display: block;
  margin: 0 auto;
  outline: none;
  resize: none;
  padding: 10px;
  border: 1px solid #888;
  font-size: 20px;
  margin-bottom: 10px;
}

.wordCount {
  margin: 0 auto;
  height: 18px;
  // border: 1px solid #888;
  width: 667px;
  padding: 0 10px;
  margin-bottom: 10px;
  // text-align: right;
  & span {
    margin-right: 30px;
  }
}

.result {
  margin: 0 auto;
  width: 667px;
  height: 300px;
  border: 1px solid #888;
  padding: 10px;
}

.word {
  display: inline-block;
  margin: 0 10px;
}
